<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [currentUser]="selectedUser?.id === user.id" [id]="user.id" [avatar]="user.avatar" [name]="user.name" (select)="onSelectedUser($event)"/>
      </li>  
    }
  </ul>
  <ng-container *ngIf="selectedUser; else elseTemplate">
    <app-task-user [name]="selectedUser.name" [id]="selectedUser.id"></app-task-user>
  </ng-container>
  <ng-template #elseTemplate>
    <p id="fallback">Select a user to see their tasks</p>
  </ng-template>
</main>