<app-card>
    <section id="tasks">
        <header>
            <h2>{{ name() }}'s Tasks</h2>
            <menu><button (click)="onAddTasks()">
                Add Tasks
            </button></menu>
            @if (isAddingTasks) {
                <app-new-task [userId]="id()" (close)="onClose($event)" (add)="onAddNewTasks($event)"></app-new-task>
            }
        </header>
    
        <ul>
            <li *ngFor="let task of selectedTasks; trackBy: trackByFn">
                <app-task [task]="task"></app-task>
            </li>
        </ul>
    </section>
</app-card>